@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


/* Home Hero Section */

@font-face {
    font-family: "UltraSolar Normal";
    src: url("https://db.onlinewebfonts.com/t/06e3b3825de17ac0bd5d48d5a769e0ad.eot");
    src: url("https://db.onlinewebfonts.com/t/06e3b3825de17ac0bd5d48d5a769e0ad.eot?#iefix")format("embedded-opentype"),
    url("../../assets/UltraSolar\ Normal.woff2")format("woff2"),
    url("https://db.onlinewebfonts.com/t/06e3b3825de17ac0bd5d48d5a769e0ad.woff")format("woff"),
    url("https://db.onlinewebfonts.com/t/06e3b3825de17ac0bd5d48d5a769e0ad.ttf")format("truetype"),
    url("https://db.onlinewebfonts.com/t/06e3b3825de17ac0bd5d48d5a769e0ad.svg#UltraSolar Normal")format("svg");
}



.home {
    background-color: rgb(17, 17, 17);
    width: 100%;
    height: 100%;
    src: url('../../assets/UltraSolar\ Normal.woff2');
    font-family: 'UltraSolar Normal', sans-serif;
    font-size: 2em;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 50px;
   
}

.title-div {
    margin: 0 auto;
    margin-top: 150px;
    width: 65%;
    text-align: left;
}

.shape1 {
    display: block;
    left: 60%;
}

.shape2 {
    display: block;
    position: absolute;
    top: 50px;
    right: 0;
}

.shape3 {
    position: absolute;
    display: block;
    left: 40px;
    margin-top: 30px;
}





.firstName {

    font-size: clamp(2rem, 10vw, 8rem);
    color: white;
    margin: 0;
    max-width: fit-content;
}

.lastName {
    font-size: clamp(2rem, 10vw, 8rem);
    color: white;
    margin: 0;
    margin-left: 200px;
    max-width: fit-content;



}

.cursor {
    background-color: white;
    height: 32px;
    width: 32px;
    border-radius: 50%;
    position: fixed;
    top: 0;
    left: 0;
    pointer-events: none;
    z-index: 0;
    
}

/* Home Card Section */

.card-container {
    max-width: 1547px;
    font-family: 'Montserrat', sans-serif;
    width: 95%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    place-items: center;
    margin-top: 200px;
    height: 100%;
    gap: 20px;
    padding-bottom: 80px;
    z-index: 99999;

}

.card {
    max-width: 400px;
    min-height: 600px;
    height: 100%;
    width: 95%;
    opacity: 0.7;
    transition: .7s ease-in-out;
    position: relative;

    

}

.card2 {
    margin-top: 150px;
    max-width: 328px;
    min-height: 600px;
    height: 100%;
    width: 95%;
    opacity: 0.7;
    transition: .7s ease-in-out;
    position: relative;

}

.card:hover,
.card2:hover {
    opacity: 1;
    transform: scale(1.1);
}

.card-container img {

    max-width: 330px;
    max-height: 495px;
    height: 100%;
    width: 100%;
    -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 70%, rgba(0, 0, 0, 0) 100%);
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 70%, rgba(0, 0, 0, 0) 100%);
    object-fit: cover;
    position: relative;
    




    
}




.card-text {
    position: absolute;
    bottom: 300px;
    left: 20px;
    color: white;
    font-size: 24px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: .7s ease-in-out;
    font-weight: 500;
}

.card-subtitle {
    position: absolute;
    bottom: 270px;
    left: 20px;
    color: white;
    font-size: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: .7s ease-in-out;
    font-weight: 100;

}

.card-text2 {
    position: absolute;
    bottom: 300px;
    left: 20px;
    color: white;
    font-size: 24px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: .7s ease-in-out;
    font-weight: 500;
}

.card-subtitle2 {
    position: absolute;
    bottom: 270px;
    left: 20px;
    color: white;
    font-size: 20px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    opacity: 0;
    transition: .7s ease-in-out;
    font-weight: 100;

}

.card:hover .card-text {
    opacity: 1;
}


.card2:hover .card-text2 {
    opacity: 1;
}

.card:hover .card-subtitle {
    opacity: 1;
}

.card2:hover .card-subtitle2 {
    opacity: 1;
}

.border-line1 {
    border: 0.5px solid rgba(255, 255, 255, 0.176);
}

.zoom-container {
    margin-top: 100px;
    height: 300vh;

}

.zoom-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: relative;
    top: 0;
    left: 0;
    z-index: 0;
}

.about-container {
    margin-top: 160px;
}

.about-me {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin: 0 auto;
    width: 80%;
    gap: 20px;
    
}



.about-me-image {
}

.about-me-image img {
    max-width: 400px;
    width: 100%;
    -webkit-mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 70%, rgba(0, 0, 0, 0) 100%);
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1) 70%, rgba(0, 0, 0, 0) 100%);
}



.about-me-text{
    font-family: 'Montserrat', sans-serif;
    text-align: left;
    color: white;


}

.about-me:hover .cursor {
    display: none;
    cursor: pointer;
}


.about-me-text h1 {
    font-size: clamp(2rem, 3vw, 3.55rem);
  
}



.about-me-text p {
    display: inline-block;
    font-size: clamp(0.8rem, 3vw, 1.55rem);
    max-width: 500px;
    line-height: 1.7;
    margin-left: 60px;
    margin-top: 0px;

}

.about-quote {
    display: block;
}

.shape4-container {
    display: flex;
    justify-content: end;
    align-items: center;
    text-align: center;
}

.services {
    font-family: 'Montserrat', sans-serif;
    margin: 0 auto;
    width: 80%;
    margin-top: 80px;
}

.services-title {
    font-size: clamp(1.3rem, 3vw, 1.5rem);
    color: rgba(255, 255, 255, 0.533);
    text-align: left;
    font-weight: 500;
}

.service {
    border-top: 1px solid rgba(255, 255, 255, 0.176);
    border-bottom: 1px solid rgba(255, 255, 255, 0.176);
    display: flex;
    justify-content: space-between;
    place-items: center;
}

.service h1 {
    font-size: clamp(1.5rem, 4vw, 5rem);
    color: white;
    text-align: left;
    font-weight: 500;
}
.service p {
    font-size: clamp(1.3rem, 3vw, 1.5rem);
    color: white;
    text-align: left;
    font-weight: 100;
    line-height: 1.7;
}

.service-button {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background-color: rgba(46, 46, 46, 0.2);
    border: 1px solid white;
    transition: .5s ease-in-out;

}

.service-button:hover {
    background-color: white;
}

.service-button:hover svg {

    color: black;

}

.service-button svg {
    width: 42px;
    height: 42px;
    color: white;

}



/* Media Queries */

@media screen and (max-width: 1405px) {
    .card-container {
        grid-template-columns: repeat(2, 1fr);
    }

    .card-text {
        bottom: 140px;
        left: 20px;
    }

    .card-subtitle {
        bottom: 110px;
        left: 20px;
    }

    .card-text2 {
        bottom: 140px;
        left: 20px;
    }

    .card-subtitle2 {
        bottom: 110px;
        left: 20px;
    }

    .card {
        max-width: 500px;
        max-height: 700px;
    }

    .card2 {
        max-width: 500px;
        max-height: 700px;
    }

    .card-container img {
        max-width: 500px;
        max-height: 590px;
        object-fit: cover;
    }

    }


@media screen and (max-width: 1363px) {
    .firstName {
        font-size: clamp(3rem, 10vw, 6rem);
        color: white;
        margin: 0;
        letter-spacing: 0.1em;

    }

    .lastName {
        letter-spacing: 0.1em;
        font-size: clamp(3rem, 10vw, 6rem);
        color: white;
        margin: 0;
        margin-left: 0px;
    }

    .title-div {
        width: 70%;
    }
}

@media (max-width: 1050px) {
    .cursor {
        display: none;
        cursor: pointer;
    }

    .shape1 {
        display: none;
    }   

    .shape2 {
        display: none;
    }
    .shape3 {
        display: none;
    }

    .shape4 {
        display: none;
    }

    .about-me {
        grid-template-columns: repeat(1, 1fr);
    }

   

    .about-me > :nth-child(1) {
        grid-row: 2;
    }


}

@media screen and (max-width: 715px) {

    .service-button {
        width: 80px;
        height: 80px;
    }
    .service-button svg {
        width: 24px;
        height: 24px;
        color: white;
    
    }

}


@media screen and (max-width: 634px) {
    .card-container {
        margin-top: 100px;
        grid-template-columns: repeat(1, 1fr);
    }

    .card {
        margin-top: 0px;
    }

    .card2 {
        margin-top: 0px;
    }

    .card:hover {
        transform: scale(1);
    }
    .card2:hover {
        transform: scale(1);
    }

    .service-button {
        width: 60px;
        height: 60px;
    }
    .service-button svg {
        width: 20px;
        height: 20px;
        color: white;
    
    }

    .card-text {
        bottom: 60px;
        left: 20px;
    }

    .card-subtitle {
        bottom: 30px;
        left: 20px;
    }

    .card-text2 {
        bottom: 60px;
        left: 20px;
    }

    .card-subtitle2 {
        bottom: 30px;
        left: 20px;
    }

        
    

    
}




@media screen and (max-width: 580px) {

    .shape1 {
        display: block;
        width: 75px;
        margin-top: 20px;
    } 
    
    .shape2 {
        display: block;
        width: 80px;
        top: 80px;
    }

    .title-div {
        font-family: 'Montserrat', sans-serif;
        width: 90%;
        text-align: center;

    }

    .firstName {
        display: block;
        font-size: clamp(2.3rem, 4vw, 3rem);
        color: white;
        margin: 0;
        text-align: center;
        font-weight: 100;
        margin: 0 auto;


    }

    .lastName {
        font-size: clamp(2.3rem, 4vw, 3rem);
        color: white;
  
        text-align: center;
        display: block;
        font-weight: 100;
        margin: 0 auto;





    }
}