@import url(https://db.onlinewebfonts.com/c/06e3b3825de17ac0bd5d48d5a769e0ad?family=UltraSolar+Normal);

.home {
    background-color: rgb(17, 17, 17);   
     font-family: 'UltraSolar Normal';
    font-size: 2em;
    text-align: center;
    padding-top: 20px;
    min-height: 1920px;
}

.title-div {
    margin: 0 auto;
    margin-top: 150px;
    width: 65%;
    text-align: left;
    background-color: red;
}

.firstName {

    font-size: clamp(2rem, 10vw, 8rem);
    color: white;
    margin: 0;
}

.lastName {
    font-size: clamp(2rem, 10vw, 8rem);
    color: white;
    margin: 0;
    margin-left: 200px;


}


@media screen and (max-width: 1363px) {
    .firstName {
        font-size: clamp(3rem, 10vw, 6rem);
        color: white;
        margin: 0;
        letter-spacing: 0.1em;

    }

    .lastName {
        letter-spacing: 0.1em;
        font-size: clamp(3rem, 10vw, 6rem);
        color: white;
        margin: 0;
        margin-left: 0px;
    }
}





@media screen and (max-width: 580px) {

    .title-div {
        width: 90%;
        background-color: red;
    }
    .firstName {
        font-size: clamp(3rem, 4vw, 3rem);
        color: white;
        margin: 0;
        letter-spacing: 0.1em;

    }

    .lastName {
        letter-spacing: 0.1em;
        font-size: clamp(2.3rem, 4vw, 3rem);
        color: white;
        margin: 0;
        margin-left: 0px;
    }
}