

* {
    cursor: none;
}

/*Animation*/

body {
    background-color: rgb(17, 17,17);
}
.hidden
{
  opacity: 0;
  transition: ease-in-out 1.5s;
}

.show {
  opacity: 1;

}

.left {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(10%);
    transition: ease-in-out 2s;
}

.slideLeft {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

.right {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-10%);
    transition: ease-in-out 2s;
}

.slideRight {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}